body {
    background-size: cover;
    background-color: rgb(23, 22, 22);
    background-image: url('../images/hero-bg.png');
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    width: 100vw;
}

.event {
    width: 33.33%;
    color: aliceblue;
}

.align-middle {
    text-align: center;
    background-image: url(../images/bg.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.heart {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 40%;
    margin-top: 12%;
    filter: brightness(0.9);
    margin-left: 5%;
    animation: heart 3s infinite ease-in-out;
}

@keyframes heart {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.circle {
    height: 80px;
    width: 80px;
    background-color: rgb(255 255 255 / 11%);
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0 0 8px #07a5f9, 5px 5px 11px #1edbff4f;
    transition: ease-out 0.05s;
    text-align: center;
    backdrop-filter: blur(1px);
    cursor: pointer;
}

.circle:hover {
    box-shadow: inset 0 0 5px #0bd6fa, 0 0 15px #07ff9f;
    width: 75px;
    height: 75px;
    /* margin: 2%; */
    background: #599ae4;
}

.align-right {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 27%;
}

.align-left {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    right: 10%;
}

div.circle.c1,
.b1 {
    margin-left: 17%;
}

div.circle.c2,
.b2 {
    margin-left: -16%;
}

div.circle.c3,
.b3 {
    margin-left: -25%;
    margin-top: 0%;
}

div.circle.c4,
.b4 {
    margin-left: -12%;
    margin-top: 5%;
}

div.circle.c5,
.b5 {
    margin-left: 22%;
}

div.circle.cl1,
.b6 {
    margin-left: -15%;
}

div.circle.cl2,
.b7 {
    margin-left: 21%;
}

div.circle.cl3,
.b8 {
    margin-left: 28%;
    margin-top: 0%;
}

div.circle.cl4,
.b9 {
    margin-left: 14%;
    margin-top: 2%;
}

div.circle.cl5,
.b10 {
    margin-left: -15%;
}

.circle img {
    height: 100%;
    width: 100%;
}

.circle i {
    font-size: 3rem;
    color: #ace0ff;
    margin: 18% 0 0 0;
    text-shadow: 1px 4px 0px #1d0e43, 0 0 10px #000000e0;
}

path {
    fill: transparent;
}

text {
    fill: #ffffff;
}

svg {
    margin: 5% 0 0 -30%;
    transform: rotate(19deg);
    font-size: 3.5rem;
}

.btn,
.btn::after {
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #fefdfd24 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00e6f6, 0 0 7px #00000070;
    outline: transparent;
    backdrop-filter: blur(1px);
    position: relative;
    right: 60%;
    top: 10%;
}

.btn2,
.btn2::after {
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(318deg, transparent 5%, #fefdfd24 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: -6px 0px 0px #00e6f6, 0 0 7px #00000070;
    outline: transparent;
    backdrop-filter: blur(1px);
    position: relative;
    left: 35%;
    top: 10%;
}

.btn::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #ffffff 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.btn:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

.btn2::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #ffffff 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.btn2:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

.c1:hover .fa-robot {
    color: #fff;
    font-size: 2.9rem;
}

.c2:hover .fa-microchip {
    color: #fff;
    font-size: 2.9rem;
}

.c3:hover .fa-gamepad {
    color: #fff;
    font-size: 2.9rem;
}

.c4:hover .fa-face-smile-wink {
    color: #fff;
    font-size: 2.9rem;
}

.c5:hover .fa-brain {
    color: #fff;
    font-size: 2.9rem;
}

.cl1:hover .fa-monster {
    color: #fff;
    font-size: 2.9rem;
}

.cl2:hover .fa-camera {
    color: #fff;
    font-size: 2.9rem;
}

.cl3:hover .fa-gem {
    color: #fff;
    font-size: 2.9rem;
}

.cl4:hover .fa-code {
    color: #fff;
    font-size: 2.9rem;
}

.cl5:hover .fa-cube {
    color: #fff;
    font-size: 2.9rem;
}

.button {
    position: absolute;
    bottom: 3%;
    left: 47%;
    text-decoration: none;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    letter-spacing: 3px;
    border: none;
    padding: 8px 20px;
    box-shadow: inset 3px 3px 6px #83c6fa, inset -4px -4px 6px #1edbff, 6px 6px 6px #067477;
    backdrop-filter: blur(4px);
    background: linear-gradient(135deg, transparent 5%, #a8949424 5%);
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.button:hover {
    color: #fff;
    background: #00000090;
    padding: 10px 20px;
}

.button-back {
    position: absolute;
    top: 3%;
    left: 1%;
    color: #1edbff;
    font-size: 1rem;
    border: none;
    padding: 2px 12px;
    box-shadow: inset 3px 3px 6px #83c6fa, inset -4px -4px 6px #1edbff, 6px 6px 6px #067477;
    backdrop-filter: blur(4px);
    background: linear-gradient(135deg, transparent 5%, #a8949424 5%);
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.button-back:hover {
    top: 2.5%;
}

.home-back:hover {
    top: 2.5%;
}

.home-back {
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 3%;
    right: 1%;
    color: #1edbff;
    font-size: 1rem;
    border: none;
    padding: 2px 12px;
    box-shadow: inset 3px 3px 6px #83c6fa, inset -4px -4px 6px #1edbff, 6px 6px 6px #067477;
    backdrop-filter: blur(4px);
    background: linear-gradient(135deg, transparent 5%, #a8949424 5%);
    border-radius: 8px;
}

@media screen and (min-device-width: 200px) and (max-device-width: 479px) {
    body {
        background-position: right !important;
    }
    .align-left {
        position: absolute;
        left: unset;
        right: 0;
        top: 10%;
        align-items: center;
        justify-content: space-evenly;
        height: 70vh;
        backdrop-filter: blur(5px);
        width: 50%;
    }
    .align-middle {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .align-right {
        backdrop-filter: blur(5px);
        width: 50%;
        position: absolute;
        right: unset;
        left: 0%;
        top: 10%;
        align-items: center;
        justify-content: space-evenly;
        height: 70vh;
    }
    div.circle.c1,
    .b1 {
        margin-left: 0%;
    }
    div.circle.c2,
    .b2 {
        margin-left: 0%;
    }
    div.circle.c3,
    .b3 {
        margin-left: 0%;
        margin-top: 0%;
    }
    div.circle.c4,
    .b4 {
        margin-left: 02%;
        margin-top: 0%;
    }
    div.circle.c5,
    .b5 {
        margin-left: 0%;
    }
    div.circle.cl1,
    .b6 {
        margin-left: 0%;
    }
    div.circle.cl2,
    .b7 {
        margin-left: 0%;
    }
    div.circle.cl3,
    .b8 {
        margin-left: 0%;
        margin-top: 0%;
    }
    div.circle.cl4,
    .b9 {
        margin-left: 0%;
        margin-top: 0%;
    }
    div.circle.cl5,
    .b10 {
        margin-left: 0%;
    }
    .circle i {
        font-size: 3rem
    }
    .btn {
        right: 0%;
        top: 20%;
        margin-bottom: 8%;
    }
    .btn2 {
        left: 0%;
        top: 20%;
        margin-bottom: 8%;
    }
    .heart {
        width: 80%;
        position: absolute;
        filter: brightness(0.7);
        top: 20%;
        right: 8%;
    }
    .btn,
    .btn2 {
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
        background: #ededed;
        border: 0;
        color: #041f44;
    }
    .circle {
        box-shadow: none;
        background: transparent
    }
    .button {
        left: 35%
    }
}